<!DOCTYPE html>
<html lang="en">
  <head>
    <title>⛄️🎁!</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <h1>Happy Holidays!</h1>

    <!-- This is where the snowfall happens. -->
    <div class="snow1"></div>
    <div class="snow2"></div>
    <div class="snow3"></div>

    <!-- This area defines the box that will unwrap when the box is clicked. -->
    <div class="box-area">
      <div class="top-side"></div>
      <div class="left-side"></div>
      <div class="inside"></div>
      <div class="right-side"></div>
      <div class="bottom-side"></div>
      <div class="outside">
        <div class="message-face">
          <p class="message-salutation">
            Dear friend,
          </p>
          <p class="message-body">
            Here's my GIF-t to you! Click to get another one!
          </p>
          <p class="message-signature">&mdash;Secret ⛄️<br /></p>
        </div>
        <div class="outer-face">
          <h2>
            🎁 CLICK ME! 🎁
          </h2>
        </div>
      </div>
    </div>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton position-y-top" style="position:fixed;bottom:20px;right:20px;z-index:100"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
